/* Common */
:root {
    --primary-color: #ed2360;
    --main-height: 42vh;
}
body{
    font-size: 62.5%;
    box-sizing: border-box;
    background-color: #f3f2f7;
}
.center
{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

h2{
    font-weight: 900;
    font-size: 1.3rem;
    line-height: 1.2;
}
.flex
{
    display: flex;
}
/* Header */

.header {
    height: 70px;
}

.title {
    padding: 0 10px;
}

.title .name-song-playing {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limit to 3 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.play-song {
    background-image: url(../img/back-ground-song-2.png);
    background-position: center;
    background-size: cover;
    position: fixed;
    width: 100%;
    height: var(--main-height);
    z-index: 1;
}
.back-ground-song {
    position: absolute;
    opacity: 0.5;
    height: 100%;
    background-size: cover;
}

.lable-playing {
    color: var(--primary-color);
    font-weight: 600;
    font-size: 0.8rem;
    line-height: 1.2rem;
}
.icon-left, .icon-right{
    color: var(--primary-color);
    padding: 10px 20px;
}
.tool {
    justify-content: space-evenly;
    justify-items: center;
    font-size: large;
    padding: 10px;
    margin-bottom: 20px;
}
.tool span{
    display: flex;
    align-items: center;
    opacity: 0.6;
    cursor: pointer;
}
.tool .play {
    font-size: 2.5rem;
    color: var(--primary-color);
    opacity: 1;
    display: none;
}

.tool .play i {
    background-color: #fff;
    border-radius: 51%;
}

.tool .pause i {
    background-color: #fff;
    border-radius: 51%;
}

.tool .play.active{
    display: block;
}

.tool .pause {
    font-size: 2.5rem;
    color: var(--primary-color);
    opacity: 1;
    display: none;
}
.tool .pause.active{
    display: block;
} 

.img-song {
    width: 200px;
    height: 200px;
}

.img-song img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    z-index: 1;
}

/* Vollum and time */
.vollume-range-and-time {
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.vollume-range-and-time .time {
    font-size: 1rem;
    font-weight: bold;
}

.vollume-range {
    align-items: center;
    padding-top: 10px;
}

.vollume-range .vollume-mute{
    display: none;
}

.vollume-range .vollume-low{
    display: none;
}

.vollume-range span {
    font-size: 1rem;
    color: #a7a4ca;
}

input[type="range"] {
    width: 100px;
    height: 4px;
    accent-color: #a7a4ca;
}

/* Progess tool */
.progess-tool{
    margin-top: 20px;
}

.player-progress {
    height: 6px;
    background: #a3a3a3;
    border-radius: 25px;
    margin: 0 5px;
    flex: 1;
}

.player-progress .player-progress-filled {
    height: 6px;
    background: var(--primary-color);
    border-radius: 25px;
    width: 0%;
}

/* List song */
.list-song {
    background-color: #f3f2f7;
    padding-top: calc(var(--main-height) + 10px);
    padding-left: 6px;
    padding-right: 6px ;
}

.list-song .song-item {
    padding: 10px 20px;
    background-color: #fff;
    align-items: center;
    gap: 20px;
    border-radius: 8px;
}

.list-song .song-item + .song-item {
    margin-top: 10px;
}

.list-song .img-song-item {
    width: 40px;
    height: 40px;
}

.list-song .img-song-item img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.list-song .song-desc {
    flex: 1;
}

.list-song .song-desc .singer-song {
    font-weight: 600;
    font-size: 0.8rem;
    line-height: 1.2;
    color: #a7a4ca;
}

.list-song .icon-detail {
    font-size: 1.2rem;
    opacity: 0.8;
    z-index: 0;
    position: relative;
}
